###############################################################################
# PRINTER.CFG - SAMPLE CONFIG FILE FOR MONITORING A SYNOLOGY NAS
#
#
# NOTES: This config file assumes that you are using the sample configuration
#	 files that get installed with the Nagios quickstart guide.
#
###############################################################################




###############################################################################
###############################################################################
#
# HOST DEFINITIONS
#
###############################################################################
###############################################################################

# Define a host for the nas we'll be monitoring
# Change the host_name, alias, and address to fit your situation

define host{
	use		linux-server		; Inherit default values from a template
	host_name	JDNAS	  		; The name we're giving to this nas
	alias		Synology NAS 		; A longer name associated with the nas
	address		192.168.2.108		; IP address of the nas
	hostgroups	network-storage	 	; Host groups this nas is associated with
	}

###############################################################################
#
# HOST GROUP DEFINITIONS
#
###############################################################################
###############################################################################

# A hostgroup for network attached storage

define hostgroup{
	hostgroup_name	network-storage		; The name of the hostgroup
	alias		Network Storage-NAS	; Long name of the group
	}




###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################

# Create a service for monitoring the status of the network attached storage
# Change the host_name to match the name of the host you defined above
# If the nas has an SNMP community string other than "public", change the check_command directive to reflect that

# Create a service for "pinging" the nas occasionally.  Useful for monitoring RTA, packet loss, etc.

define service{
	use			generic-service
	host_name		JDNAS
	service_description	PING
	check_command		check_ping!3000.0,80%!5000.0,100%
	check_interval	10
	retry_interval	1
        }

define service{
        use                     generic-service
        host_name               JDNAS
        service_description     Synology Status
        check_command           check_snmp_synology
        check_interval  10
        retry_interval  1
        }

